@model EntityLayer.Concrete.Admin
@{
    ViewBag.Title = "EditAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("EditAdmin", "Authorization", FormMethod.Post))
{
<div class="form-group">
    @Html.HiddenFor(x => x.AdminID, new { @class = "form-control" })

    @Html.Label("Admin Kullanıcı Adı")
    @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
    <br />
    @Html.Label("Admin Şifre")
    @Html.TextBoxFor(x => x.AdminUserPassword, new { @class = "form-control" })
    <br />
    @if (User.IsInRole("B"))
    {
        @Html.Label("Rol")
        @*@Html.DropDownListFor(c =>c.AdminID, (List<SelectListItem>)ViewBag.valueadmin, new { @class = "form-control" })*@
        @Html.TextBoxFor(x => x.AdminUserRole, new { @class = "form-control" })
        <br />
    }
        <button class="btn btn-success">Güncelle</button>
    </div>
}

